lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
xunit.xml
test/fixtures/.build


.project
.idea
.settings
.iml


.DS_Store*
ehthumbs.db
Icon?
Thumbs.db